.box {
    height: 400px;
    padding: 20px;
    color: black;
    background: coral;
  }

  .header { 
    height: auto;
    padding: 20px;
    color: black;
    background: coral;
  }
  
  .margin-top-80 {
    margin-top: 80px;
  }


  .table-striped {
    border-collapse: collapse;
    border-spacing: 0;
    width: 75%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
    padding-left: 16px;
  }
  
  tr:nth-child(even) {
    background-color: lightgray;
  }